**/.ssotme/**/*
/**/obj/**/*
/**/bin/**/*
/**/.vs/**/*
/DotNet/CLIClassLibrary/CLIClassLibrary.csproj.user
/*.json
/*.xlsx
/PowerShell/**/*.json
/PowerShell/**/*.xlsx
/PowerShell/**/*.txt
/DotNet/EAPICLI/Properties/launchSettings.json
